:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.shopping-cart {
    display: flex;
    gap: 2rem;
}

.cart {
    margin-bottom: 1rem;
}

.cart-total {
    margin-left: 1rem;
}

.cart-removeBtn {
    margin-left: 1rem;
    color: red;
}

.cart-content {
    display: flex;
    gap: 0.5rem;
}

.cart-footer {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.submit-btn {
    margin-top: 1rem;
}
